.button {
	position: relative;
	outline: none;
	box-shadow: none;
	overflow: hidden;

	transition: all 0.3s ease-in-out;
	cursor: pointer;
	pointer-events: all;

	padding: 12px 20px;
	border-radius: var(--cor-border-radius);
}

/* Variants */

/* Default */
.button.default {
	background: var(--cor-color-button-default);
	color: var(--cor-color-button-default-text);
	border: var(--cor-border-width) solid var(--cor-color-button-default);
}
.button.default:hover {
	background-color: var(--cor-color-button-default-hover);
	color: var(--cor-color-button-default-text-hover);
	border-color: var(--cor-color-button-default-hover);
}

/* Primary */
.button.primary {
	background: var(--cor-color-button-primary);
	color: var(--cor-color-button-primary-text);
	border: var(--cor-border-width) solid var(--cor-color-button-primary);
}
.button.primary:hover {
	background-color: var(--cor-color-button-primary-hover);
	color: var(--cor-color-button-primary-text-hover);
	border-color: var(--cor-color-button-primary-hover);
}

/* Secondary */
.button.secondary {
	background: var(--cor-color-button-secondary);
	color: var(--cor-color-button-secondary-text);
	border: var(--cor-border-width) solid var(--cor-color-button-secondary);
}
.button.secondary:hover {
	background-color: var(--cor-color-button-secondary-hover);
	color: var(--cor-color-button-secondary-text-hover);
	border-color: var(--cor-color-button-secondary-hover);
}
/* Accent */
.button.accent {
	background: var(--cor-color-button-accent);
	color: var(--cor-color-button-accent-text);
	border: var(--cor-border-width) solid var(--cor-color-button-accent);
}
.button.accent:hover {
	background-color: var(--cor-color-button-accent-hover);
	color: var(--cor-color-button-accent-text-hover);
	border-color: var(--cor-color-button-accent-hover);
}

/* Bordered */
.button.bordered {
	background: transparent;
	border: var(--cor-border-width) solid currentcolor;
}
.button.bordered:hover {
	border-color: currentcolor;
	box-shadow: inset 0 0  0px var(--cor-border-width) currentColor;
}

/* Text */
.button.text {
	background: transparent;
	padding: 0px;
	width: max-content;
	border-radius: 0px;
}
.button.text:hover,
.button.text:hover > * {
	color: var(--button-text-hover);
}

/* icon */
.button.bordered {
	border: 1px solid currentColor;
}
.button.icon {
	width: fit-content;
	height: fit-content;
	gap: 8px;
	border-radius: 4px;
}
.button.icon img,
.button.icon svg {
	width: auto;
	height: calc(1em + 4px);
}

.button.rounded {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 500px;
	padding: 8px;
	width: fit-content;
	max-width: 32px;
	aspect-ratio: 1/1;
}

.button svg {
	margin: -50% 0;
}

.button:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}
