:root {
	/* Spacing variables */
	--cor-border-radius: 8px;
	--cor-border-width: 1px;

	/* Color variables */
	--cor-color-primary: #0070f3;
	--cor-color-secondary: #ff4081;
	--cor-color-accent: #f4770a;
	--cor-color-neutral: #e5e5e5;
	--cor-color-text: #000000;
	--cor-color-text-primary: #ffffff;
	--cor-color-text-secondary: #333333;
	--cor-color-text-accent: #f4770a;
}